@font-face {
    font-family: 'Roboto Condensed';
    src: url(/fonts/RobotoCondensed.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Press Style Serif';
    src: url(/fonts/PressStyleSerif.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.PSS {
    font-family: 'Press Style Serif', sans-serif;
}

.sbw-none {
    scrollbar-width: none;
}